<section loading-container="$loading"></section>


<button ng-click="back()" class="btn btn-primary">
  <i class="glyphicon glyphicon-arrow-left"></i> Back</button>

<br/>
<br/>

<a id="top"></a>


<section role="document" ng-if="post">



  <a title="open original link" href="{{post.short_url}}" target="_blank" class="pull-right">
    <i class="glyphicon glyphicon-link"></i></a>

  <h3 style="margin-top: -2px"><a href="#/post/{{post.id}}">{{post.title}}</a></h3>

  <time>{{post.timestamp*1000 | date: "dd.MM.yyyy hh:mm"}}</time>

  <br/>

  <p contenteditable ng-model="post.body"></p>

</section>

